.app-main { display: flex; flex-wrap: wrap; padding: 15px 0; }

.btn { outline: none; box-shadow: none; border: 2px solid; border-radius: 3px; padding: 8px; cursor: pointer; }
.btn-primary { color: #49ccf9; border-color: #49ccf9; background-color: transparent; min-width: 100px; font-size: 12px; text-align: center; font-weight: bold; text-transform: capitalize; }
.btn-primary:hover { background-color: #49ccf9; color: #ffffff; }

.btn:disabled { cursor: default; }
.btn:disabled:focus,
.btn:disabled:hover { background-color: transparent; color: #49ccf9;}

.error { color: red; font-size: 10px; margin: 10px 0; }
.success { color: green; margin: 10px 0; text-align: center; text-transform: capitalize; font-weight: bold; }

.slot { margin: 50px 70px; box-shadow: 0 0 8px 0 rgba(0,0,0,0.15); padding: 20px; }
.slot__slot-container { display: flex; flex-direction: row; padding: 20px; border: 3px solid #49ccf9; border-radius: 4px; margin-bottom: 20px; }
.slot__heading { text-align: center; }
.slot__reel { width: calc(100% / 3); position: relative; }
.slot__reel-each { perspective: 1000px; overflow: hidden; }
.slot__reel-carousel { height: 70px; transform-style: preserve-3d; animation-iteration-count: infinite; animation-timing-function: linear; animation-name: x-spin; animation-duration: 1s; margin: 13px 18px;}
.slot__reel-carousel--stop { animation-iteration-count: 0; animation-name: stop-spin; }
.slot__reel-cell { position: absolute; border: 1px solid; border-radius: 4px; background: rgba(73, 204, 249, 0.7); color: #000000; text-transform: capitalize; font-weight: bold; left: 0; width: 70px; height: 70px; line-height: 70px; text-align: center; }
.slot__reel-cell:nth-child(1) { transform: rotateX(  0deg) translateZ(110px); }
.slot__reel-cell:nth-child(2) { transform: rotateX( 45deg) translateZ(110px); }
.slot__reel-cell:nth-child(3) { transform: rotateX( 90deg) translateZ(110px); }
.slot__reel-cell:nth-child(4) { transform: rotateX(135deg) translateZ(110px); }
.slot__reel-cell:nth-child(5) { transform: rotateX(180deg) translateZ(110px); }
.slot__reel-cell:nth-child(6) { transform: rotateX(225deg) translateZ(110px); }
.slot__reel-cell:nth-child(7) { transform: rotateX(270deg) translateZ(110px); }
.slot__reel-cell:nth-child(8) { transform: rotateX(315deg) translateZ(110px); } 
.slot__reel-cell.slot__reel-cell--selected { transform: rotateX(  0deg) translateZ(110px); background: rgba(73, 204, 249, 1); }
.slot__spin-button { height: 50px; width: 100%; text-transform: uppercase; margin: 20px 0 0; }
.slot__win-message { height: 20px; }

@keyframes x-spin {
    0%    { -webkit-transform: rotateX(0deg); }
    50%   { -webkit-transform: rotateX(180deg); }
    100%  { -webkit-transform: rotateX(360deg); }
  }

  @keyframes stop-spin {
    100%    { -webkit-transform: rotateX(0deg); }
  }

/* responsive
============================ */
@media screen and (max-width: 767px) { 
    .question-main { flex-direction: column; }
    .question-main__input { margin: 0 0 20px; }

    .slot { margin: 40px 0; }
    .slot__reel-carousel { margin: 13px 10px; height: 60px; }
    .slot__reel-cell { height: 60px; width: 60px; line-height: 60px; }
}